<h1>Why?</h1>



<div class="well well-lg"> 
	<p>
	<strong>
		I am taking One Month Rails for the following reasons:
	</strong>
	<ul>
		<li> I have a business to build, and I want to lead product and the prototype </li>
		<li> I want to attract awesome people</li>
		<li> If nothing else, learning to code is a skill I'll use repeatedly in the future</li>
	</ul>	
	</p>
</div>


